# model
OPENAI_API_KEY=your_openai_api_key_here
GEMINI_API_KEY=your_google_ai_studio_api_key_here

# Development mode
# true = localhost, false = public dummyjack domain
devlop_frontend=true
develop_backend=true

# Local model
LOCAL_MODEL_BASE_URL=http://localhost:11434/v1
LOCAL_MODEL_API_KEY=local

# Web Search API
TAVILY_API_KEY=your_tavily_api_key_here

# Activation codes, comma-separated
activation_code=password1,password2
